*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color:white;
    height: 15vh;
    max-width: 1400px;
    font-family: 'Roboto', serif;
    margin: 0 auto;
   font-size: 0;
    }

nav ul {
    width: 100%;
    padding: 0;


 }
nav li{
    display: inline-block;
    width: 25%;
    text-align: center;
}

nav li a {
    padding: 10px;
    line-height: 15vh;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(47, 47, 49);
    font-size:12px;
   
}

nav li a:hover {
    text-decoration: underline;color: rgb(47, 47, 49);
}

.mainFoto{
    height:85vh;
    position: relative;   max-width: 1400px;
    margin: 0 auto;
}
.mainFoto div{
    height: 100%;
   max-width: 1400px;
   margin: 0 auto;
background-image: url(fotos/cafe-677895_1920.jpg);
background-size: cover;
background-position: center;
background-position-x: 60%;
opacity:80%;
}

.logo{
    font-family:  'Parisienne', cursive;
    font-size: 50px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 80%;
    right: 5%;
  

}